<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataframe Output</title>
    <meta name="author" content="James Rocker">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/skeleton.css') }}">

</head>
<body>
    <nav class="navbar">
      <div class="logo"><a href="/">Prospector Webscraper</a></div>
    </nav>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <iframe name="hiddenFrame" width="0" height="0" style="display: none;"></iframe>
        <form method="POST" action="/download/{{file_to_download}}">
            <input name="Download" type="submit" value="Download">
        </form>

      <div class="row">
        <div class="one-half column" style="margin-top: 5%">
            {{titles}}
            {{ tables|safe }}
        </div>
      </div>
    </div>
</body>
</html>